<div class="mt-20 flex">
  <div class="max-w-sm bg-white w-[300px] rounded-xl shadow-lg dark:bg-gray-800 dark:border-gray-700">
    <img 
      class="w-full object-cover h-40 bg-gray-100 p-4"
      [src]="product.images" 
      [alt]="product.title"
    />

    <div class="p-5">
      <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white line-clamp-1">
        {{ product.title }}
      </h5>
      <p class="text-sm text-gray-500 dark:text-gray-300 mt-1 line-clamp-2">
        {{ product.description || 'No description provided' }}
      </p>

      <div class="flex items-center justify-between mt-4">
        <span class="text-2xl font-bold text-gray-500 dark:text-gray-400">
          ${{ (product.price * (1 - product.discountPercentage / 100)).toFixed(1) }}
        </span>  

        <span class="text-[14px] max-sm:w-[18px] font-bold text-red-600 dark:text-red-400 line-through">
          ${{ product.price.toFixed(1) }}
        </span>

        <button 
          (click)="addCart(product)"
          class="text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300   rounded-lg text-sm px-4 py-2 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-800">
          Add to Cart
        </button>
      </div>

      <div class="mt-2 text-gray-700 dark:text-gray-300 flex justify-between">
        <span>Qty: {{ qtyCart }}</span>     
        <span>%{{ product.discountPercentage }} OFF</span>
      </div>
    </div>
  </div>
</div>
